[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ggrounded"]
	path = ggrounded
	url = https://github.com/botan/ggrounded
	shallow = true
	registered = true
